<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{page.slug}} | {{pkg.name}}</title>
	<style>
		{% include __base.css %}
		{% include __annabrabant.css %}
	</style>
</head>
<body>
	<header>
		<nav>	
			<a href="/archive"><-back</a>
		</nav>
	</header>
	<main>
		<img src="{{ imgSrc }}" alt="{{title}}">
		<h2>{{title}}</h2>
		{% if description %}
		{% for each in description %}
			<p>{{each}}</p>
		{% endfor %}
		{% endif %}
		{% for tag in tags %}
			<span>{{tag}}</span>
		{% endfor %}
	</main>
	<footer>
		<a href="//instagram.com/annebrab">
			<img src="" alt="">
		</a>
		<span>© 2017 by Anna Brabant</span>
	</footer>
	<script></script>
</body>
</html>
