---
title: archive
---
{%- for category in archive %}
<section>
	<h2>{{ category[0] }}</h2>
	<div class="twowide">
		{%- for each in category[1] %}
		<a href="{{ category[0] }}/{{ each }}" class="quarterd">
			<img src="/__static/images/{{ category[0] }}-{{ each }}{% if category[0] == "monoprint" %}.jpg{% elsif category[0] == "undergrad" %}.png{% endif %}" alt="{{ category[0] }}-{{ each }}" class="img-scaledown">
		</a>
		{%- endfor %}
	</div>
</section>
{%- endfor %}
{%- comment %}

BAE recreate olde carousel

	html, liquid
		<nav>
			{% for each, index in arr %}
			<a href="#{{ each.url }}">
				<img src="{{ each.url }}" alt="{{ each.title | default: index }}">
			</a>
			{% endfor %}
		</nav>

	style
		row: 
			2: img
			@media >1000
				4/7
		flexbox: 
			overflow: wrap


BAE olde lightbox

	<!-- lightbox -->
	{% for arr, category in archive.json %}
	{% for each, index in arr %}
	<div id="{{category}}-{{index}}" class='hidden'>
	<!-- todo STYLE 
		display: none
		onFocus:
			disply: block 

		fullscreen: vh, vw: 100
		class: hidden
	-->
		<img src="{{each.url}}" alt="{{ index}}">
		<nav>
			<a href=""></a>
	<!-- todo: prev -->
			<a href=""></a>
	<!-- todo: next -->
			<a href="#">X</a>
	<!-- x - close -->
		</nav>
	</div>
	{% endfor %}
	{% endfor %}

{%- endcomment %}
