---
layout: _post
pagination:
  data: works
  size: 1
  alias: work
permalink: "work/{{ work.title }}/"
---
<img src="/__static/images/{{ work.title }}-half.jpg" alt="{{ work.title }}" class='img-scaledown'>
<h2>{{ work.title }}</h2>
{%- if work.description %}
{%- for each in work.description %}
	<p>{{ each }}</p>
{%- endfor %}
{%- endif %}
